.runeContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.rune {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.primaryRune {
  .rune;
  width: 200px;
}
.fragmentRune {
  .rune;
  width: 100px;
}
.runeRow {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
}