.runeContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(23, 32, 46);
  padding: 24px;
}
.rune {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.primaryRune {
  .rune;
  width: 200px;
  min-height: 300px;
}
.fragmentRune {
  .rune;
  min-height: 100px;
}
.runeRow {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
}